*{
    padding:0;
    margin:0;
    font-family: 'sans-serif';
}
.img1{
    background-image: url("	https://www.w3schools.com/w3images/wedding_couple.jpg");
    background-size: cover;
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: grayscale(50%);
}

.jj{
    font-family: 'sans-serif';
    color:#ffffff;
    font-size: 50px;
    align-items: center;
    font-weight: 300;
    
}

.line{
    color:black;
    font-style: italic;
    font-family: 'sans-serif',"railway";
    margin: 50px;
    font-size: 17px;
}

.btn1{
    border:2px solid black;
    text-decoration: none;
    color:white;
    background-color: black;
    padding:24px 30px;
    border-radius:8px;
    font-size: 20px;
    

}
.name{
    /* background-color: pink;
    height:1200px;
    width:100vw; */
     background-color: #fbe4e4;
      height: 2600px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    
}
.p1{
    line-height:1.6;
    font-size:50px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-top:50px;
    color:#757575;


}
.img2{
    /* background-image:url("https://www.w3schools.com/w3images/wedding_couple2.jpg");
    height:500px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center; */
    background-image: url("https://www.w3schools.com/w3images/wedding_couple2.jpg");
      height: 500px;
      width: 900px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-top: 50px;
      filter:grayscale(100%)
}
.img3{
    background-image: url("https://www.w3schools.com/w3images/flowers.jpg");
    height:700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:70px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img4{
    background-image: url("https://www.w3schools.com/w3images/wedding_location.jpg");
      height: 500px;
      width: 900px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-top: 50px;
      filter:grayscale(100%)
}
.ww-container {
    display: flex;
    justify-content: center;  /* center the items horizontally */
    gap: 150px;               /* space between When and Where */
    margin-top: 40px;         /* spacing from above */
    width: 100%;
    max-width: 900px;         /* optional max width for better control */
    margin-left: auto;
    margin-right: auto;       /* center container */
    
}

.ww, .w {
    flex: 1;                 /* distribute available space evenly */
    text-align: center;      /* center text inside each block */
}

.ww1{
    font-size: 35px;
    font-family: "runway", 'sans-serif';
}
.ww2{
    font-family: "runway",'sans-serif';
    font-size:20px;
}
.last{
    height:300px;
    width:100vw;
    background-color:pink;
    /* display: flex;
    justify-content: center; */
}
.write{
    font-size: 40px;
    font-family: "sans-serif","runway";
    font-weight: 400;
    padding: 50px;
    text-align: center;
    color: #2a2a2a;
}
.read{
    font-size: 25px;
    font-family: "sans-serif","runway";
    font-weight: 400;
    text-align: center;
    color: #2a2a2a;
}
.btn2{
    padding: 20px 60px;
    font-size: 25px;
    text-decoration: none;
    margin: auto;
    background-color: #f44336;
    text-decoration: none;
    border: 2px solid #f44336;
    color:white;
    text-align: center;
    border-radius: 8px;
}
.rsvp{
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}
.f1{
    height: 60px;
    width: 100vw;
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'sans-serif';
}
.f2{
    height: 30px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'sans-serif';
    position: fixed;
    bottom: 0px;
    background-color:transparent;
    
}
.f:hover{
    background-color: gray;
    padding: 10px;
    cursor:pointer;
}